extends layout

block content
  script(src="http://maps.googleapis.com/maps/api/js")
  h1= title
  p Welcome to #{title}
  table(id="geotagsTable")
    tr
      th lat
      th long
      th name
      th hash
      th delete
    each loc, i in locations
      tr
        td= loc.lat
        td= loc.long
        td= loc.name
        td= loc.hash
        td: button(onclick='deleteByName(#{JSON.stringify(loc.name)})') X
  form(name="discoverySearch" onSubmit='return validate()' action='/geotags/search', method='post')
    label Search
    input(type="text" name="search")
    button(id="searchSubmit" type='submit') Submit
  div(id="googleMap" style="width:500px;height:380px;")
  script(src="/javascripts/discovery.js")
