extends layout

block content
  h1= title
  p Welcome to #{title}
  table
    tr
      th lat
      th long
      th name
      th hash
      th delete
    each loc, i in locations
      tr
        td= loc.lat
        td= loc.long
        td= loc.name
        td= loc.hash
        td: button(onclick='deleteByName(#{JSON.stringify(loc.name)})') X
  form(name="discoverySearch" onSubmit='return validate()' action='/discovery/search', method='post')
    label Search
    input(type="text" name="search")
    button(type='submit') Submit
  script(type='text/javascript').
    function validate(){
    var search = document.forms["discoverySearch"]["search"].value;
      if (search === null || search === '') {
          alert("search must be filled out");
          return false;
      }
    }
    function deleteByName(name){
      var myData = {name: name}
      // construct an HTTP request
      var xhr = new XMLHttpRequest();
      xhr.open('DELETE', '/discovery/delete', true);
      xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
      // send the collected data as JSON
      xhr.send(JSON.stringify(myData));
    }
